div(class="container col-12")
    div(class="row col-6")
        div(class="card col-6")
            img(src="../../public/img/home5.jpg", alt="", class="card-img-top")
            div(class="card-body")
                h5(class="card-title") Usuarios
                p(class="card-text") Podrás llenar el cuestionario y ver tus niveles de Ansiedad, estrés y depresión además podrás contactar con un profesional que podrá ayudarte.Podrás registrar un contacto de emergencia para poder pedir ayuda.
                a(href="" class="btn btn-primary col-5 p-3 b-2") Registrate como usuario 
                a(href="" class="btn btn-primary col-5 p-3 b-3") Ingresa como usuario            
        div(class="card col-6")
            img(src="../../public/img/home6.jpg", alt="", class="card-img-top")
            div(class="card-body")
                h5(class="card-title") Usuarios
                p(class="card-text") Podrás llenar el cuestionario y ver tus niveles de Ansiedad, estrés y depresión además podrás contactar con un profesional que podrá ayudarte.Podrás registrar un contacto de emergencia para poder pedir ayuda.
                a(href="" class="btn btn-primary col-5 p-3 b-2") Registrate como usuario 
                a(href="" class="btn btn-primary col-5 p-3 b-3") Ingresa como usuario
