div(class="container col-12")
    div(class="row col-12 row justify-content-between")
        div(class="card col-12 col-md-5 px-3 mx-3 shadow-lg")
            img(src="../../public/img/home5.jpg", alt="", class="card-img-top")
            div(class="card-body")
                h5(class="card-title") Usuarios
                p(class="card-text") Podrás llenar el cuestionario y ver tus niveles de Ansiedad, estrés y depresión además podrás contactar con un profesional que podrá ayudarte.Podrás registrar un contacto de emergencia para poder pedir ayuda.
            div(class="card-footer justify-content-between")
                a(href="" class="btn btn-primary col-4 col-md-12 px-3 m-3 bg-success") Registrate como usuario 
                a(href="" class="btn btn-primary col-4 col-md-12 px-3 m-3 bg-success") Ingresa como usuario            
        div(class="card col-12 col-md-5 px-3 mx-3 shadow-lg")
            img(src="../../public/img/home6.jpg", alt="", class="card-img-top")
            div(class="card-body")
                h5(class="card-title") Usuarios
                p(class="card-text") Podrás llenar el cuestionario y ver tus niveles de Ansiedad, estrés y depresión además podrás contactar con un profesional que podrá ayudarte.Podrás registrar un contacto de emergencia para poder pedir ayuda.
            div(class="card-footer justify-content-between")
                a(href="" class="btn btn-primary col-4 col-md-12 px-3 m-3 bg-success") Registrate como usuario 
                a(href="" class="btn btn-primary col-4 col-md-12 px-3 m-3 bg-success") Ingresa como usuario
