div(class="container")
    div(class="row")
        h1 Asistente de Estrés, Ansiedad y Depresión

        p(class="fs-3 text-center") Plataforma desarrollada para llevar el control de tu ansiedad, estrés y depresión según la herramienta Dass-21.
