div(class="container")
    div(class="row")
        div(class="figure aling center")
            img(src="../../public/img/home4.jpg", class="figure-img img-Fluid rounded")



    
    
    
    
    
    
    
    
    
    
 
    
    
    
    
    
    
    
 

    