div(class="container")
    div(class="row col-12")
        div(class="figure text-center")
            img(src="../../public/img/home4.jpg", class="img-fluid  figure-img  rounded")



    
    
    
    
    
    
    
    
    
    
 
    
    
    
    
    
    
    
 

    