header 
    header 
    nav(class="navbar navbar-expand navbar-light bg-success shadow-lg")
        div(class="container-fluid")
            a(href="" class="navbar-brand text-light") Asistente AED
        div(class="collapse navbar-collapse")
            ul(class="navbar-nav me-auto mb-2 mb-lg-0")
                li(class="nav-item")
                    a(href="" class="nav-link text-light" aria-current="page") login
                li(class="nav-item")
                    a(href="" class="nav-link text-light" aria-current="page") Registrate        

